{% set collections = _view.mongo_manager.getCollections %}

<ul id="navigation-tree" class="treeview">
	{% for server, dbs in collections %}
		<li class="{% if dbs|length > 0 %}collapsable{% endif %}{% if loop.last == true %} last{% endif %}">
			<span>{{ server }}</span>
			{% if dbs|length > 0 %}
				<ul>
					{% for db, names in dbs %}
						<li class="{% if names|length > 0 %}collapsable{% endif %}{% if loop.last == true %} last{% endif %}">
							<span>{{ db }}</span>
							{% if names|length > 0 %}
								<ul>
									{% for collection in names %}
										<li{% if loop.last == true %} class="last"{% endif %}><span class="file">{{ collection }}</span></li>
									{% endfor %}
								</ul>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
</ul>