{% extends "MongoAdminBundle:layout:layout.twig" %}

{% block content %}
	{% include "MongoAdminBundle:layout:breadcrumb.twig" with {'server': server, 'db': db, 'collection': collection} %}

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for document in cursor %}
				<tr>
					<td><a href="{% path 'mongo_document' with {'server': server, 'db': db, 'collection': collection, 'id': document._id} %}">{{ document._id }}</a></td>
					<td></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
