{% extends "MongoAdminBundle:layout:layout.html.twig" %}

{% block resources %}
    <script type="text/javascript" src="{{ asset('bundles/mongoadmin/js/jquery.tablesorter.js') }}"></script>
{% endblock %}

{% block content %}
	{% include "MongoAdminBundle:layout:breadcrumb.html.twig" with {'server': server, 'db': db} %}

	<table class="tablesorter">
		<thead>
			<tr>
				<th>Name</th>
				<th>Documents</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for collection in collections %}
				<tr>
					<td><a href="{{ path('mongo_collection', {'server': server, 'db': db, 'collection': collection.name}) }}">{{ collection.name }}</a></td>
					<td>{{ collection.count }}</td>
					<td></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<script type="text/javascript">
		$(function() {
			$('.tablesorter').tablesorter({
				headers: {
					2: { sorter: false }
				},
				sortList: [[0, 0]]
			});
		});
	</script>
{% endblock %}
