{% extends "MongoAdminBundle:layout:layout.twig" %}

{% block resources %}
	{% javascript 'bundles/mongoadmin/js/jquery.tablesorter.js' %}
{% endblock %}

{% block content %}
	{% include "MongoAdminBundle:layout:breadcrumb.twig" with ['server': server, 'db': db] %}

	<table class="tablesorter">
		<thead>
			<tr>
				<th>Name</th>
				<th>Documents</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for collection in collections %}
				<tr>
					<td><a href="{% path 'mongo_collection' with ['server': server, 'db': db, 'collection': collection.name] %}">{{ collection.name }}</a></td>
					<td>{{ collection.count }}</td>
					<td></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<script type="text/javascript">
		$(function() {
			$('.tablesorter').tablesorter({
				headers: {
					2: { sorter: false }
				},
				sortList: [[0, 0]]
			});
		});
	</script>
{% endblock %}
