{% extends "MongoAdminBundle:layout:layout.twig" %}

{% block content %}
	{% include "MongoAdminBundle:layout:breadcrumb.twig" with ['server': server, 'db': db, 'collection': collection, 'id': id] %}

	<div class="documentPreview">
		<pre><code>{{ documentPreview }}</code></pre>
	</div>
{% endblock %}