{% extends "MongoAdminBundle:layout:layout.html.twig" %}

{% block content %}
	{% include "MongoAdminBundle:layout:breadcrumb.html.twig" with {'server': server, 'db': db, 'collection': collection, 'id': id} %}

	<div class="document-preview">
		<pre><code>{{ documentPreview|raw }}</code></pre>
	</div>
{% endblock %}