{% extends "MongoAdminBundle:layout:layout.twig" %}

{% block content %}
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Collections</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for database in serverData['databases'] %}
				<tr>
					<td><a href="{% path 'mongo_db' with ['server': server, 'db': database.name] %}">{{ database.name }}</a></td>
					<td>{{ database.collections }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
