@page-background: #495a7e;
@header-background: #ffffff;
@content-font-color: #ffffff;

html { 
	background: @page-background;
}

#header { 
	background: @header-background;
	padding-bottom: 2px;
	padding-left: 10px;

	h1 {
		font-size: 30px;
	}
}

#navigation { 
	background: @header-background;
	padding-left: 10px;
	width: 350px;
	float: left;
	overflow: auto;
}

#content {
	color: @content-font-color;
	padding-left: 365px;
	padding-top: 5px;
}

#footer { clear: both; }

table.tablesorter {
	font-family: arial;
	background-color: #FFFFFF;
	margin: 10px 0pt 15px;
	width: 95%;
	text-align: left;

	thead {
		tr {
			.header {
				background-image: url(../images/tablesorter/bg.gif);
				background-repeat: no-repeat;
				background-position: center right;
				cursor: pointer;
				color: #000;
			}

			.headerSortUp {
				background-color: #8dbdd8;
				background-image: url(../images/tablesorter/asc.gif);
			}

			.headerSortDown {
				background-color: #8dbdd8;
				background-image: url(../images/tablesorter/desc.gif);
			}

			th {
				background-color: #e6EEEE;
				border: 1px solid #FFF;
				padding: 4px;
			}
		}
	}

	tbody {
		tr:hover {
		    background: #EEEEEE;
		}

		td {
			color: #3D3D3D;
			padding: 4px;
			vertical-align: top;
			border-top: 1px solid #CCCCCC;
		}
	}
}