<ul>
{% for server, dbs in collections %}
	<li>
		<strong>{{ server }}</strong>
		<ul>
			{% for db, names in dbs %}
				<li>
					<strong>{{ db }}</strong>
					<ul>
						{% for collection in names %}
							<li>{{ collection }}</li>
						{% endfor %}
					</ul>
				</li>
			{% endfor %}
		</ul>
	</li>
{% endfor %}
</ul>